<mat-toolbar id="fixed-header">
    <mat-toolbar-row>
        <span><img src="./assets/shrimpthink.png" style="width:50px;"></span>
        <a id="specific">Executive Decision</a>
        <span class="spacer"></span>
        <a mat-button class="hov" [routerLink]="['register']" routerLinkActive="router-link-active">Sign Up</a>
        <a></a>
        <a mat-button class="hov" [routerLink]="['managerlogin']" routerLinkActive="router-link-active">Manager
            Login</a>
    </mat-toolbar-row>
</mat-toolbar>

<div id="mid" class="column">
    <h1 id="title"><b>Sign in with your Hobbledehoy account.</b></h1>
    <br><br><br><br>
    <input type="text" id="username" placeholder="Username" >
    <br><br>
    <!-- Should be of type PASSWORD -->
    <input type="password" id="password" placeholder="Password" >
    <br><br><br><br>
    <!-- Sends to user page if user exists [routerLink]="['customerview']"  routerLinkActive="router-link-active"-->
   <!-- (click)="custlogin()" -->
    <button class="log" (click)="custlogin()"><span>Login</span></button>
    <p>No Account?</p>
    <!-- Reg sends to register page -->
    <button class="log" [routerLink]="['register']" routerLinkActive="router-link-active"><span>Register</span></button>
    <br><br>
</div>
