<mat-toolbar id="fixed-header">
    <mat-toolbar-row>
        <span><img src="./assets/AYAYA.png" style="width:50px;"></span>
        <a id="specific">Make your decision.</a>
        <span class="spacer"></span>
        <a mat-button class="hov" [routerLink]="['/customerview']" routerLinkActive="router-link-active">Change Preferences</a>
        <a mat-button class="hov" [routerLink]="['/managerlogin']" routerLinkActive="router-link-active">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>

<div class="custom">
    <table id="customers">

        <tr> <th>Item</th> <th>Cost</th> <th>Calories</th> </tr>
        <tr *ngFor = "let x of meals" (click)="selectItem(x)"> 
            <td>{{x.name}}</td>
            <td>{{x.cost}}</td>
            <td>{{x.calories}}</td>
            
        </tr>
    
    </table>
</div>
  
