<mat-toolbar id="fixed-header">
    <mat-toolbar-row>
        <span><img src="./assets/AYAYA.png" style="width:50px;"></span>
        <a id="specific">Hobbledehoy's</a>
        <span class="spacer"></span>
        <a mat-button class="hov" [routerLink]="'/register'">Sign Up</a>
        <a mat-button class="hov" [routerLink]="['']" routerLinkActive="router-link-active">User Login</a>
    </mat-toolbar-row>
</mat-toolbar>

<div id="mid" class="column">
    <h1 id="title"><b>Welcome, Restaurant Sign In.</b></h1>
    <br><br><br><br>

    <input type="text" id="username" placeholder="Username">
    <br>
    <br>
    <input type="text" id="password" placeholder="Password">

    <br>
    <br>
    <br>
    <br>

    <!-- Sends to user page if user exists [routerLink]="['managerpage']" routerLinkActive="router-link-active" -->
    <button class="log" (click)="manalogin()"><span>Login</span></button>

    <p>No Account?</p>
    <!-- Reg sends to register page -->
    <button class="log" [routerLink]="'/register'"><span>Register</span></button>
    <br>
    <br>
</div>