<mat-toolbar id="fixed-header">
    <mat-toolbar-row>
        <span><img src="./assets/AYAYA.png" style="width:50px;"></span>
        <a id="specific">Hobbledehoy's</a>
        <span class="spacer"></span>
        <a mat-button class="hov" [routerLink]="['/managerlogin']" routerLinkActive="router-link-active">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>



<!-- this section will show if no restaurant exist -->
<div id="mid" class="column">
    <h1>Manage your restaurant here</h1>


    <input type="text" id="name" placeholder="Restaurant Name">
    <!-- We should have a list of the cusines for the manager to choose from not input text -->
    <input type="text" id="cuisine" placeholder="Cusine">
    <input type="text" id="address"placeholder="Address">

    <h3>Create a menu for this restaurant</h3>
    <input type="text" id="item" placeholder="Item">
    <input type="number" id="cost" placeholder="Cost">
    <input type="number" id="cal" placeholder="Calories">
    <br>
    <button class="log" id="add" (click)="addMeal()"><span>Add item</span></button> <!-- have a + symbol-->


    <table>

        <tr> <th>Item</th> <th></th> <th>Cost</th> <th>Calories</th>  </tr>
        <tr *ngFor = "let x of meals">
            <td>{{x.name}}</td>
            <td>.........</td>
            <td>{{x.cost}}</td>
            <td>{{x.calories}}</td>
        </tr>
      
      </table>
      
      

    <button class="log" (click)="addRestaurant()"><span>Register restaurant</span></button>
</div>
<!--  ***************************************************************************************8** -->


<!-- if restaurant exist show its info -->
<p>Restaurant info</p>

<!-- Sends to edit menu page -->
<button>Edit menu</button>
<!-- remember remove item  -->