<mat-toolbar id="fixed-header">
    <mat-toolbar-row>
        <span><img src="./assets/AYAYA.png" style="width:50px;"></span>
        <a id="specific">Hobbledehoy's</a>
        <span class="spacer"></span>
        <a mat-button class="hov" [routerLink]="['/managerlogin']" routerLinkActive="router-link-active">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>



<!-- this section will show if no restaurant exist -->
<div id="mid" class="column">
    <h1>Manage your restaurant here</h1>

    <input type="text" placeholder="Restaurant Name">
    <input type="text" placeholder="Cusine">

    <h3>Create a menu for this restaurant</h3>
    <input type="text" placeholder="Item">
    <input type="text" placeholder="Cost">
    <input type="text" placeholder="Calories">
    <br>
    <button class="log"><span>Add item</span></button> <!-- have a + symbol-->


    <table>
        <p>This will show the menu dynamically</p>
    </table>

    <button class="log"><span>Register restaurant</span></button>
</div>
<!--  ******************************************* -->

<!-- if restaurant exist show its info -->
<p>Restaurant info</p>

<!-- Sends to edit menu page -->
<button>Edit menu</button>
<!-- remember remove item  -->