#top{
    text-align: right;
}

#mid{
    text-align: center;
}

.mat-stepper-vertical {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}

.custom-font-size .multiselect-dropdown .dropdown-btn {
    width: 300px !important; 
  }